body{
	background: white;
}

h1,h2,h3,h4{
	font-family: 'Bree Serif', serif;
}



/************************

		HEADER

************************/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.navbar-header{
	width: 100%;
}

.navigation{
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;	
	border-bottom: 2px solid @primary-color;
	@media (min-width: @screen-sm-min){
		display: block;
		position: initial;
	}
}